body {
    background-color: #ffc13b;
    color: #1e3d59;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 300px auto 1fr;
    grid-template-rows: 1fr 9fr;
}

#titleDiv {
    grid-area: 1 / 1 / 2 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 50px;
    margin-bottom: 10px;
}

#sidebarBigDiv {
    grid-area: 2 / 2 / 3 / 3;
    margin: 20px 15px 0px 15px;
}

#sidebarSmallDiv {
    background-color: #f5f0e1;
    border-radius: 15px;
    padding: 10px 0px 20px 0px;
}

button {
    padding: 10px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    border-radius: 5px;
    background: white;
}

/* to turn off blue outline when button clicked */
button:focus {
    outline: none;
}

button:hover {
    background: rgba(30, 61, 89, 0.12);
}

.inSidebar {
    margin: 20px;
}

.sidebarTitle {
    margin-bottom: 5px;
}

.multipleBtns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
}

.selected {
    box-shadow: 0 0 1px 1px #1e3d59;
}

#sidebarTitleDiv {
    text-align: center;
}

#clearBtn {
    width: 100%;
}

#gridContainer {
    grid-area: 2 / 3 / 3 / 4;
    border: 3vmin solid #1e3d59;
    border-radius: 15px;
    background-color: #1e3d59;
    margin: auto;
    width: 70vmin;
    height: 70vmin;
    display: grid;
    margin: 20px 15px 0px 15px;
}

.border {
    border: 1px solid #dddddd;
}

/* everything below copied and edited from w3schools */
/* thank you w3schools */
  
/* The slider itself */
#sizeChanger {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 18px; /* Specified height */
    border-radius: 10px;
    background: white; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
  
/* Mouse-over effects */
#sizeChanger:hover {
    opacity: 1;
    background: rgba(30, 61, 89, 0.12);
}
  
/* The slider handle */
#sizeChanger::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #1e3d59;
    cursor: pointer; /* Cursor on hover */
}
  
#sizeChanger::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #1e3d59;
    cursor: pointer; /* Cursor on hover */
}